{% extends 'base.html' %}

{% block content %}
<main class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="mb-4">Crear Tarea</h1>
                    {% if error %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}
                    <form action="/tasks/create" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary w-100">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
