{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">DJANGO APP (HOME)</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta ut aliquid voluptatem ipsa placeat rem quod tempore quisquam perferendis, voluptates in repellendus suscipit cupiditate mollitia exercitationem laudantium nostrum illum delectus consequuntur eligendi fugiat veritatis non. Deleniti excepturi expedita itaque atque nobis velit esse aliquam quam eaque eius. Temporibus nisi ut vero accusamus, facilis veritatis earum iusto ipsam eaque nulla provident porro, labore facere pariatur quis! Ratione soluta deserunt possimus, incidunt officiis culpa id, a quas adipisci modi harum nisi, consectetur error minus dolores. Consectetur maxime aliquid laborum commodi eum eaque non enim distinctio id architecto, sapiente, minima mollitia, cumque soluta!</p>
        <div class="text-center">
            <a class="btn btn-dark" href="/signin">SIGNIN</a>
            <a class="btn btn-secondary" href="/signup">SINGUP</a>
        </div>
    </section>

</main>

{% endblock %}